@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: FadeIn 0.3s ease-in-out forwards;
}


.swiper-container {
    width: 750px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide {
    width: 300px;
}

.title {
    background: linear-gradient(to right, #e82fcf 20%, #fefefe 100%); 
    background-clip: text;
    
    color: transparent;
}